body {
    font-family: Arial, sans-serif;
    padding-top: 70px;
  }
  .topbar-custom {
    background-color: #011A51 !important;
    color: white;
    font-size: 14px;
    padding: 5px 0px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Ensure it stays on top */
  }
  
  .topbar-custom a {
    color: white;
    text-decoration: none;
    margin-right: 10px;
  }
  
  .topbar-custom i {
    margin-right: 5px;
  }
  .custom-navbar-color {
    background-color: #57687a !important;
    
  }
 
    .navbar {
      position: fixed;
      top: 4%/* You need to determine the height of .topbar-custom */; /* Set this value */
      left: 0;
      width: 100%;
      z-index: 999;
     margin-top: 4px;
    
    }
  
  .logo-img {
    width: 200px; /* Change this value as needed */
    height: auto;
  }
  
.banner{
    background-color: #0b1f3a;
    padding-top: 20px;
}

.achieve-section {
    background-color: #f5f7fb;
  }
  
  .goal-item {
    background-color: #e1e9f8;
    border-radius: 2rem;
    padding: 30px 20px;
    transition: transform 0.3s ease;
  }
  
  .goal-item:hover {
    transform: translateY(-5px);
  }
  
  .goal-icon {
    width: 60px;
    height: 60px;
  }
  html{
    scroll-behavior: smooth;
  }
  .focus-section {
    background-color: #f9fafa;
    color: #333;
    font-size: 1rem;
    line-height: 1.7;
  }
  .custom-image-gallery {
    max-width: 100%;
  height: auto;
  }  
  .highlight {
    color: #0d2d63;
    font-weight: 700;
  }
  
  .about-section {
    padding: 20px 15px;
    background: radial-gradient(circle, #bfcfff 0%, #e0e0e0 100%);
  
  }
  
  .about-text {
    color: #4a4a4a;
    background: radial-gradient(circle, #bfcfff 0%, #e0e0e0 100%);
  }
  .text-muted{
    font-weight: bolder ;
    
  }
  .left-image {
    max-width: 100%;
  }
  
  .decorative-bg {
    position: absolute;
    z-index: -1;
    border-radius: 50%;
    background: radial-gradient(circle, #bfcfff 0%, #e0e0e0 100%);
    opacity: 0.3;
  }
  .img-container {
    position: relative;
  }  
  
.contact-info {
  transition: all 0.3s ease;
  padding: 20px 5px;
  border-radius: 10px;
  min-height:230px; 
}

.contact-info:hover {
  background-color: #f0f8ff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transform: translateY(-5px);
  cursor: pointer;
}

.contact-icon {
  transition: transform 0.3s ease;
}

.contact-info:hover .contact-icon {
  transform: scale(1.2);
}
.footer {
  background-color: #111; /* Dark background */
  color: whitesmoke;
  border-top: 2px solid white;
  position:relative;
  width: 100%;
  bottom: 0;
  left: 0;
}
